{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <label><h4>Enter the name of the restaurant that you want to add:</h4></label>
        <form method="POST">
            <div class="input-group">
                <div class="form-group">
                    <input type="text" name="res_name" class="form-control">
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-success btn-add" type="submit">
                        <span class="glyphicon glyphicon-plus"> Add</span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
{% endblock %}